.post{
  display: grid;
  grid-template-columns: 38rem auto;
  margin: 2rem 0;
  gap: 2rem;
}

.post img{
  border-radius: 4px;
  width: 100%;
  box-shadow: 0px 0px 2px #000;
}
.post h2{
  font-size: 2rem;
}
.postTitle{
  margin-bottom: 20px;
  overflow-wrap: anywhere;
}

.nav{
  justify-content: flex-end;
  display: flex;
}
.button svg{
  width: 1rem;
  fill: #CA221F;
  transition: .3s ease-in;
}
.button{
  border: none;
  background: none;
  cursor: pointer;
}
.button:hover svg{
transform: scale(1.2);
}


.tag{
  text-align: right;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}


@media  (max-width: 1024px){
  .post{
    display: flex;
    flex-direction: column;
  }
}